body {
    margin: 0px;
    padding: 0px;
    background-image: url(assets/chibi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: initial;
}

.box {
    height: 72%;
    width: 60%;
    top: 10%;
    left: 20%;
    align-items: center;
    background-color: black;
    position: absolute;
    border: 3px solid aliceblue;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.navbar {
    color: #1238C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(201, 40, 40);
    color: aliceblue;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
}

button:hover {
    transform: scale(1.1);
    background-color:  rgb(207, 95, 95);
}
a:link {
    color: aliceblue;
    text-decoration: none;
}
a:visited {
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: #1238C9;
}

button a:hover{
    color: aliceblue;
}

iframe {
    height: 472px;
    margin-top: 10px;
}

#iframe_doodle{
    display: none;
}
#iframe_colored{
    display: none;
}