.box {
    margin-top: 10%;
    height: 100%;
    width: 50%;
    background-color: rgb(241, 220, 220);
    position: absolute;
    left: 25%;
    top: 10%;
}

.h1 {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
