body {
    margin: 0px;
    padding: 0px;
    background-image: url(assets/chibi.png);

    background-size: contain;
    background-attachment: scroll;
    background-repeat: initial;

}
.navbar {
    color: #1238C9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover{
    color: #1238C9;
}

@media screen and (max-width: 768px) {

    table td {
        width: 50%;  
    }

    table img {
        width: 100%;
        max-width: 120px;
    }
}

@media screen and (max-width: 480px) {

    table td {
        width: 100%;
    }

    table img {
        max-width: 150x;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
}

.grid img:hover {
    transform: scale(1.05);
}

