body {
    margin: 0px;
    padding: 0px;
    background-image: url(assets/chibi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: initial;
}

.box {
    height: 20%;
    width: 60%;
    margin-top: 20px;
}

.introtxt {
    justify-content: center;
    align-items: center;
    border: 3px solid aliceblue;
    overflow: auto;

}

.img{
    display: inline; width: 100%;
}

.background {
    width: 100%;
    height: 100%;

}

.navbar {
    color: #1238C9;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #1238C9;
}