body {
    margin: 0px;
    padding: 0px;
    background-image: url(assets/chibi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: initial;
    overflow-y: scroll;
}

.navbar {
    color: aliceblue;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}
a:link {
    color: aliceblue;
    text-decoration: none;
}
a:visited {
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: #1238C9;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}